/* html:after {




  content: "Copyright by DEW";


  font-size: 200px;



  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  color: transparent;


  z-index: 9999;

  cursor: default;

  display: block;

  position: fixed;

  top: 40%;

  right: 0;

  bottom: 0;

  left: 0%;

  font-family: sans-serif;



  text-align: center;

  line-height: 100%;




  -webkit-pointer-events: none;

  -moz-pointer-events: none;

  -ms-pointer-events: none;

  -o-pointer-events: none;

  pointer-events: none;





  -webkit-user-select: none;

  -moz-user-select: none;

  -ms-user-select: none;

  -o-user-select: none;

  user-select: none;

} */